opencv-python-headless
pydub==0.25.1
streamlit_webrtc~=0.47.7
twilio~=8.10.1
matplotlib
git+https://github.com/ultralytics/ultralytics.git
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
streamlit
Pillow
numpy
